<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

<div class="login">
  <h1>Login</h1>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="E-mail" formControlName="email" />
    <input type="password" placeholder="Password" formControlName="password" />

    <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>

    <br />
    <div *ngIf="submitted && !myForm.valid">
      Please, Check the following:
    </div>

    <!-- validation -->
    <div class="validation" *ngIf="submitted && !myForm.controls['email'].valid">
      Enter Valid E-mail
    </div>

    <div class="validation" *ngIf="submitted && !myForm.controls['password'].valid">
      Enter Password
    </div>

    <div class="validation" *ngIf="serverError">
      E-mail or password may be wrong. check them again
    </div>

  </form>
</div>
