<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Chat Widget</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

</head>

<body> -->


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

<br />
<div class="container clearfix">
  <div class="people-list" id="people-list">
    <div class="search">
      <input type="text" placeholder="search" />
      <i class="fa fa-search"></i>
    </div>
    <ul class="list">


      <li class="clearfix" *ngFor="let user of users" (click)="selectUser(user)">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_02.jpg" alt="avatar" />
        <div class="about">
          <div ><span class="name">{{user.name}}</span><span class="button__badge" *ngIf="user.notificationCount && user.notificationCount>0">{{user.notificationCount}}</span></div>
          <div class="status">
            <i class="fa fa-circle" [ngClass]="{'online': user.online, 'offline': !user.online }"> </i> {{user.online?'Online':'Offline'}}
          </div>
        </div>
      </li>

    </ul>
  </div>

  <div class="chat">
    <div class="chat-header clearfix">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />

      <div class="chat-about">
        <div class="chat-with">{{selectedUser?.name}}</div>
        <div class="chat-num-messages">already {{conversation?.length}} messages</div>
      </div>
      <i class="fa fa-star"></i>
    </div>
    <!-- end chat-header -->

    <div class="chat-history" #scrollMe > 
      <ul>
        <li  *ngFor="let msg of conversation" [ngClass]="{'clearfix': msg.sender!==selectedUser._id }">
          <div class="message-data align-right" *ngIf="msg.sender!==selectedUser._id">
            <span class="message-data-time">{{msg.date | date}}</span> &nbsp; &nbsp;
            <span class="message-data-name"> Me </span>
            <i class="fa fa-circle me"></i>
          </div>

          <div class="message-data" *ngIf="msg.sender===selectedUser._id">
            <span class="message-data-name">
              <i class="fa fa-circle online"></i> {{selectedUser.name}}</span>
            <span class="message-data-time">{{msg.date | date}}</span>
          </div>

          <div  [ngClass]="{'other-message float-right': msg.sender!==selectedUser._id, 'my-message': msg.sender===selectedUser._id}" class="message">
            {{msg.message}}
          </div>
        </li>

       <!--  <li>
          <div class="message-data">
            <span class="message-data-name">
              <i class="fa fa-circle online"></i> Vincent</span>
            <span class="message-data-time">10:12 AM, Today</span>
          </div>
          <div class="message my-message">
            Are we meeting today? Project has been already finished and I have results to show you.
          </div>
        </li> -->
      </ul>

    </div>
    <!-- end chat-history -->

    <div class="chat-message clearfix">
      <textarea name="message-to-send" id="message-to-send" [(ngModel)]="messageContent" placeholder="Type your message" rows="3"></textarea>

      <!-- <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
      <i class="fa fa-file-image-o"></i> -->

      <button (click)="sendMessage()">Send</button>

    </div>
    <!-- end chat-message -->

  </div>
  <!-- end chat -->

</div>
<!-- end container -->
<br />





<!-- 

</body>

</html> -->
