/* You can add global styles to this file, and also import other style files */

body,
html {
  background-image: url('./assets/images/backg.jpg');
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  /* background-size: cover; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.validation
{
  color:brown;

}